      body {
      	line-height: 12px;
      	margin: 0;
      	padding: 0;
      }

      body, input, select {
      	font-family: 'Open Sans', 'Futura', Arial, sans-serif;
      	font-size: 16px;
      	font-weight: 300;
      }

      #positioner {
      	position: absolute;
      	border: 0 none;
      	margin: 0;
      	padding: 0;
      	width: 0;
      	height: 0;
      }

      input[type="text"] {
      	font-size: 12px;
      	line-height: 28px;
      }

      input[type="file"] {
      	height: 100%;
      	position: absolute;
      	width: 100%;
      	z-index: 1;
      	opacity: 0;
      }

      .editor_fields button, #image_editor button, .gog_btn, .no_gog_btn, .ok_link_btn {
      	visibility: hidden;
      	display: inline-block;
      	margin: 18px 24px 4px 24px;
      	padding: 6px 24px;
      	width: 200px;
      	background: #0f0;
      	border: #444 4px solid;
      	border-radius: 18px;
      	font-size: 14px;
      	font-weight: 600;
      	color: #444;
      	cursor: pointer;
      }

      .ok_link_btn {
      	margin: 24px calc(50% - 100px) auto calc(50% - 100px);
      }

      .editor_fields button:nth-of-type(2), .no_gog_btn {
      	background: #f00;
      }

      .gog_btn, .no_gog_btn {
      	width: 240px;
      	margin-top: 240px;
      }

      .editor_fields button .fa {
      	float: left;
      	margin-top: 2px;
      }

      #encoderInputCanvas {
      	display: none;
      }

      #header {
      	width: 100%;
      	line-height: 24px;
      	vertical-align: middle;
      	text-align: center;
      	font-size: 18px;
      	background: rgba(141, 170, 212, 0.9);
      	position: fixed;
      	top: 0;
      }

      #header span {
      	margin-left: 12px;
      	/*
				margin-left: 24px;
				display: block;
				line-height: 24px;
				background: red;
*/
      }

      #header span.meter {
      	font-size: 12px;
      	font-weight: lighter;
      	position: absolute;
      	top: 0px;
      }

      th, td {
      	border-bottom: 1px #000 solid;
      	border-left: 1px #000 solid;
      	padding: 8px;
      	height: 24px;
      	width: 16vw;
      }

      th:nth-child(1), td:nth-child(1) {
      	border-left: 0 none;
      }

      td.lk {
      	cursor: pointer;
      }

      #all_cells {
      	table-layout: fixed;
      	border-collapse: collapse;
      	margin: 24px 2vw;
      }

      #process_overlay {
      	position: fixed;
      	left: 0;
      	top: 0;
      	width: 100vw;
      	height: 100vh;
      	background: rgba(0, 0, 0, 0.85);
      	display: none;
      }

      .process_overlay_dark {
      	display: block !important;
      }

      .editor_fields {
      	width: 96vw;
      	margin: 6px 2vw;
      	padding: 12px 6px;
      	background: #ccc;
      	text-align: center;
      }

      #editor_fields_container {
      	display: none;
      }

      .editor_fields label {
      	display: block;
      	float: left;
      }

      .editor_fields div {
      	text-align: left;
      	margin-top: 24px !important;
      }

      .editor_fields input {
      	display: block;
      	text-align: left;
      	margin-top: 24px !important;
      	border: #ccc 2px solid;
      	outline: 0 none;
      }

      .editor_fields div input {
      	display: inline;
      	margin-top: auto !important;
      }

      .button_valid {
      	visibility: visible !important;
      }

      #all_cells .fa-plus-circle, #all_cells .fa-minus-circle {
      	float: right;
      }

      .fa-plus-circle, .fa-minus-circle, .fa-times-circle, .fa-pencil-square-o, .fa-arrows-h, .fa-link {
      	cursor: pointer;
      }

      #name_display {
      	width: 12vw;
      }

      #prolog_display {
      	width: calc(48vw - 8px);
      }

      #name_display, #prolog_display {
      	text-align: center;
      	border: 0 none;
      	margin: 6px calc(6vw / 8);
      }

      #search_display input[type="text"], #search_display span {
      	width: 12vw;
      	text-align: center;
      	border: 0 none;
      	margin: 6px calc(6vw / 8);
      }

      #search_display span {
      	width: auto;
      	display: inline-block;
      	font-size: 14px;
      }

      #text_display, #Ausstellungskonzept_display {
      	font-family: 'Futura', Arial;
      	font-size: 12px;
      	font-weight: lighter;
      	display: block;
      	width: calc(100% - 12px);
      	border: 0 none;
      	margin: 6px;
      	padding: 0;
      	background: #fff;
      }

      #text_display h2, #Ausstellungskonzept_display h2 {
      	font-size: 14px;
      	font-weight: lighter;
      	line-height: 16px;
      	background: rgba(141, 170, 212, 0.4);
      }

      #text_display a, #Ausstellungskonzept_display a {
      	background: rgba(191, 231, 153, 0.9);
      	cursor: pointer;
      }

      #Ausstellungsort_display input[type="text"], #Ausstellungsort_display span {
      	width: calc(12vw - 2px);
      	text-align: center;
      	border: 0 none;
      	margin: 6px calc(6vw / 8);
      }

      #Ausstellungsort_display span {
      	display: inline-block;
      	font-size: 14px;
      }

      #Impressum_display input[type="text"] {
      	min-width: 300px;
      }

      #Impressum_display .keyfield {
      	width: 12vw;
      	text-align: center;
      	border: 0 none;
      	margin: 24px auto 6px auto !important;
      }

      #Impressum_display .keyfield:nth-child(1) {
      	margin-top: auto !important;
      }

      #Impressum_display .keyfield+i {
      	display: inline;
      }

      #Impressum_display .keyfield+i:after {
      	content: "\A";
      	white-space: pre;
      }

      .add-raw {
      	font-size: 2vw;
      	margin: 3vw auto;
      	display: inline-block;
      	padding: 6px 8px;
      }

      .media_icon_size {
      	font-size: 8vw;
      	width: 10vw;
      	margin: 12px;
      }

      #Images_display {
      	height: 100% !important;
      	flex-wrap: wrap-reverse;
      	justify-content: end;
      	align-items: flex-end;
      }

      #Images_display .add_image_but {
      	font-size: 2vw;
      	float: none !important;
      	width: 2vw !important;
      	height: 2vw !important;
      	margin: 3vw !important;
      	vertical-align: 3.2vw;
      	line-height: 0;
      	display: inline;
      }

      #Images_display .add_image_but, #Images_display img {
      	object-fit: none;
      	object-position: center;
      	width: 8vw;
      	height: 8vw;
      }

      #image_selector {
      	position: absolute;
      	width: 8vw;
      	height: 8vw;
      	display: none;
      	flex-wrap: wrap;
      	justify-content: space-around;
      	align-items: center;
      	font-size: 2vw;
      	background: rgba(255, 255, 255, 0.4);
      	background-position: center;
      }

      #image_selector .fa {
      	padding: 0 3vw;
      }

      #image_editor {
      	display: none;
      	width: 560px;
      	height: 560px;
      	left: calc(50vw - 304px);
      	top: calc(50vh - 304px);
      	position: fixed;
      	border: 24px rgba(141, 170, 212, 1) solid;
      	background: #ccc;
      	overflow: hidden;
      	z-index: 1;
      	background-size: cover;
      	background-position: 50%;
      	background-repeat: no-repeat;
      }

      #image_editor img {
      	height: 100%;
      }

      #image_editor p {
      	position: absolute;
      	width: 100%;
      	line-height: 24px;
      	z-index: 2;
      }

      #image_editor button {
      	margin: 4px auto;
      	visibility: visible;
      	text-align: center;
      	display: block;
      }

      #image_editor p:nth-child(1) {
      	margin: 4px 0 0 -4px;
      	font-size: 2vw;
      	text-align: right;
      }

      #image_editor p:nth-last-child(1) {
      	margin: -24px -6px 0 0;
      	background: rgba(207, 207, 207, 0.85);
      	bottom: 0;
      	padding-left: 6px;
      }

      @-webkit-keyframes fill_lr {
      	0% {
      		background-position: -280px 50%;
      	}
      	100% {
      		background-position: 280px 50%;
      	}
      }

      @-moz-keyframes fill_lr {
      	0% {
      		background-position: -280px 50%;
      	}
      	100% {
      		background-position: 280px 50%;
      	}
      }

      @keyframes fill_lr {
      	0% {
      		background-position: -280px 50%;
      	}
      	100% {
      		background-position: 280px 50%;
      	}
      }

      .img_uploader_active {
      	width: 560px !important;
      	background-image: linear-gradient(to right, rgba(207, 207, 207, 0), rgba(207, 207, 207, 0) 260px, rgba(207, 207, 207, 0.68) 300px, rgba(207, 207, 207, 0.68)) !important;
      	background-repeat: no-repeat !important;
      	background-size: 1120px auto !important;
      	-webkit-animation: fill_lr 6s ease-out forwards;
      	-moz-animation: fill_lr 6s ease-out forwards;
      	animation: fill_lr 6s ease-out forwards;
      }

      #text_editor {
      	width: 400px;
      	position: fixed;
      	top: 200px;
      	background: #fff;
      	padding: 24px;
      	border: rgba(141, 170, 212, 0.9) 24px solid;
      	display: none;
      }

      #text_editor i.fa-times-circle {
      	font-size: 2vw;
      	position: absolute;
      	top: 4px;
      	right: 4px;
      }

      #text_editor label, #text_editor input {
      	display: inline-block;
      	padding: 0;
      	border: 0;
      }

      #text_editor label {
      	width: 25%;
      }

      #text_editor input {
      	width: 200px;
      	text-align: center;
      	font-size: 16px;
      }

      #time_display select, #text_editor select {
      	background: #fff;
      	box-shadow: none;
      	border: 0 none;
      	margin: 0 12px;
      	outline: 0 none;
      	-webkit-appearance: none;
      	-moz-appearance: none;
      	-webkit-padding-start: 0;
      	-moz-padding-start: 0;
      	/*
      	-webkit-padding-before: 12px;
      	-webkit-padding-after: 12px;
*/
      	font-size: inherit;
      	padding: 4px 0;
      	/*
      	text-indent: 4px;
      	background-image: url("../images/sel_arrow.png");
      	background-position: 97% center;
      	background-repeat: no-repeat;

padding-top: 10px;
padding-right: 20px;
padding-bottom: 10px;
padding-left: 20px;

*/
      	text-overflow: ellipsis;
      	width: 8.4vw;
      	text-align: center;
      	text-align-last: center;
      	border-radius: 0;
      	cursor: pointer;
      }

      #text_editor select {
      	width: 200px;
      	margin: 0;
      }

      select:-moz-focusring {
      	color: transparent;
      	text-shadow: 0 0 0 #000;
      }

      a.line {
      	background: rgba(191, 231, 153, 0.9);
      }